{% extends "base.html" %}

{% block title %}drama_detail.html{% endblock %}

{% block content %}
<div class="container" style="margin-bottom:100px;">

    <h2 class="mt-5">{{ object.title }}</h2>

    <div class="row">
        <div class="col-md-9">
            <p><img src="{{ object.image.url }}" style="width: 50%;"></p>
            <p><a onclick="writePlayLog('{% url 'drama:video_detail' object.video_key %}')">
                <img src="/static/assets/img/green-play-button.png" style="width: 10%;">
            </a></p>
            <button id="{{drama.id}}" onclick="post_like(this.id)" class="btn btn-info btn-sm like" style="margin-top: 7px">
                  {%if request.user in drama.like.all%}
                  <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                  <i id="heart" class="fas fa-heart"></i>
                  {%else%}
                  <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                  <i id="heart" class="far fa-heart"></i>
                  {%endif%}
                  <span id="like_count">♥ {{drama.like.count}}</span>
            </button>
        </div>

        <ul class="col-md-3 mt-3">
            <li class="h5">Drama Description</li>
                {% if object.description %}<p>{{ object.description|linebreaks }}</p>
                {% else %}<p>(blank)</p>{% endif %}
            <li class="h5">Date Uploaded</li>
                <p class="font-italic">{{ object.upload_dt }}</p>
            <li class="h5">Genre Name</li>
                <p class="font-italic">
                  <a href="{% url 'drama:genre_detail' object.genre.id %}"> {{ object.genre.name }}</a>
                </p>
        </ul>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function post_like(id) {
            console.log("hi")
            $.ajax({
                url: "{% url 'drama:likes' %}", // data를 전송할 url 입니다.
                data: {
                    'drama_id': id
                }, // post_id 라는 name으로 id 값 전송
                dataType: "json",
                success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
                    $('#like_count').html(response.like_count) //id가 like_count의 내용을 전송받은 좋아요 수로 바꾼다
                    $('#message').html(response.message) //id가 message의 내용을 전송받은 message로 바꾼다
                    $('.toast').fadeIn(400).delay(100).fadeOut(400)
                    if (response.message == "좋아요")
                    //좋아요 눌렀을 때
                    {
                        $('#heart').attr("class", "fas fa-heart")
                    } else if (response.message == "좋아요 취소")
                    //좋아요 상태에서 다시 눌렀을 때
                    {
                        $('#heart').attr("class", "far fa-heart")
                    }
                    alert(response.message)
                }
            })
        }
    </script>

</div>

{% endblock %}