{% extends "base.html" %}
{% load static %}
{% block title %}genre_detail.html{% endblock %}

{% block content %}
<div class="container" style="margin-bottom:100px;">

    <div class="mt-5">
        <span class="h2">{{ object.name }}&emsp;</span>
        <span class="h5 font-italic">{{ object.description }}</span>
    </div>

    <hr style="margin: 0 0 20px 0;">

    <div class="row">

        {% for drama in object.drama_set.all %}
        <div class="col-md-3 mb-5">
            <div class="thumbnail">
                <a onclick="writeContentLog('{{ drama.get_absolute_url }}')">
                    <img src="{{ drama.image.thumb_url }}" style="width: 100%;">
                </a>
            </div>
            <ul>
                <li class="font-italic">{{ drama.title }}</li>
                <li class="font-italic">{{ drama.upload_dt|date:"Y-m-d" }}</li>
            </ul>
        </div>
        {% endfor %} 

    </div>
</div>
{% endblock %}

