{% extends "base.html" %}
{% block title %}photo_video_detail.html{% endblock %}

{% block content %}
{% load static %}
    <style>
        .page-header h1{
            color:#5c9f24;
            margin:10px;
        }
        .col-md-16 {
            margin:10px;
        }
    </style>
    <body>
    <div class="content container">
        <header class="page-header">
            <h1>{{video.title}}</h1>
        </header>
        <div class="row" style="display:flex;justify-content:center;align-items:center;">
            <div class="col-md-16">
                <div id="player"></div>
            </div>
        </div>
    </div>
    </body>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
        var csrftokenm = getCookie('csrftoken');
        var videoClass = {{ video.video_class }};
        var joinurl = window.location.origin+'/photo_video_detail/'+'{{video.video_key}}'+'/checkmembership_photo/';
        var pxhr = new XMLHttpRequest();
        pxhr.onreadystatechange = function() {
          if (pxhr.readyState ==4 ){
            var data = pxhr.response;
            var obj = JSON.parse(data);
            if ( obj.message != undefined ){ //로그인 안 한 유저
                alert(obj.message);
                location.href = '{% url 'login' %}' ;
            }else if ( videoClass > obj.active ){
                alert('MEMBERSHIP 구독 신청하시면 이용하실 수 있습니다!');
                location.href = window.location.origin +'/plan/';
            }
          }
        };
        pxhr.open("GET",joinurl,false);
        pxhr.setRequestHeader("X-CSRFToken",csrftokenm);
        pxhr.send(null);

        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                videoId: '{{ video.video_key }}'
            });
        }
    </script>
{% endblock %}