{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>
        {% block title %}
        kocowa 예제입니다.
        {% endblock %}
    </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    {% block styles %}
    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block scripts %}
    {{ block.super }}
    {% csrf_token %}
    <script>
    function writeLog(menuUrl) {

        var req = new XMLHttpRequest();
        var nextUrl = window.location.origin+menuUrl;
        //req.open('GET', document.location, false);
        req.open('GET', nextUrl, false);
        //req.open('GET', nextUrl);
        req.send(null);

        var data = new Object();

        var headers = req.getAllResponseHeaders().toLowerCase();
        var aHeaders = headers.split('\n');
        var i =0;
        for (i= 0; i < aHeaders.length; i++) {
            var thisItem = aHeaders[i];
            var key = thisItem.substring(0, thisItem.indexOf(':'));
            var value = thisItem.substring(thisItem.indexOf(':')+1);
            if (key == "server") {
                server = value;
            }
        }

        myserver = server.slice(1,5); //wsgi
        var useragent = navigator.userAgent;
        var myurl = window.location.origin+menuUrl;
        //var myurl = window.location.href;

        querystr = 'mutation { weblogCreate(serverDesc: "'+myserver+'", urlDesc: "'+myurl+'", userAgent: "'+useragent+'") { weblog { memberNo serverDesc useragent urlDesc logDate } } }'

        //return false;

        const options = {
          method: "post",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            query: querystr
          })
        };
        var grp = window.location.origin+'/graphql'
        fetch(grp, options)
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log('Error : ' + response.status);
                return;
              }
              response.json().then(function(data) {
                var i;
                var obj = data.data.weblogCreate.weblog;
                //document.getElementById("headerbox").innerHTML =  querystr;
                //alert(obj.urlDesc);
              });
            }
          )
          .catch(function(err) {
            console.log('Fetch error :-S', err);
            //alert(err);
          });
        location.href = myurl;
        //location.href = myurl+menuUrl;
    }

    function writeHomeLog() {

        var req = new XMLHttpRequest();
        req.open('GET', document.location, false);
        req.send(null);

        var data = new Object();

        var headers = req.getAllResponseHeaders().toLowerCase();
        var aHeaders = headers.split('\n');
        var i =0;
        for (i= 0; i < aHeaders.length; i++) {
            var thisItem = aHeaders[i];
            var key = thisItem.substring(0, thisItem.indexOf(':'));
            var value = thisItem.substring(thisItem.indexOf(':')+1);
            if (key == "server") {
                server = value;
            }
        }

        myserver = server.slice(1,5); //wsgi
        var useragent = navigator.userAgent;
        var myurl = window.location.origin;

        querystr = 'mutation { weblogCreate(serverDesc: "'+myserver+'", urlDesc: "'+myurl+'", userAgent: "'+useragent+'") { weblog { memberNo serverDesc useragent urlDesc logDate } } }'

        //return false;

        const options = {
          method: "post",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            query: querystr
          })
        };

        var grp = window.location.origin+'/graphql'
        fetch(grp, options)
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log('Error : ' + response.status);
                return;
              }
              response.json().then(function(data) {
                var i;
                var obj = data.data.weblogCreate.weblog;
                //document.getElementById("headerbox").innerHTML =  querystr;
                //alert(obj.urlDesc);
                //alert(obj);
              });
            }
          )
          .catch(function(err) {
            console.log('Fetch error :-S', err);
          });
    }

    window.onpageshow = function(event) {
        if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
            // Back Forward Cache로 브라우저가 로딩될 경우 혹은 브라우저 뒤로가기 했을 경우
            //alert("히스토리백!!!!");
            var req = new XMLHttpRequest();
            req.open('GET', document.location, false);
            req.send(null);

            var data = new Object();

            var headers = req.getAllResponseHeaders().toLowerCase();
            var aHeaders = headers.split('\n');
            var i =0;
            for (i= 0; i < aHeaders.length; i++) {
                var thisItem = aHeaders[i];
                var key = thisItem.substring(0, thisItem.indexOf(':'));
                var value = thisItem.substring(thisItem.indexOf(':')+1);
                if (key == "server") {
                    server = value;
                }
            }

            myserver = server.slice(1,5); //wsgi
            var useragent = navigator.userAgent;
            var myurl = window.location.href;

            querystr = 'mutation { weblogCreate(serverDesc: "'+myserver+'", urlDesc: "'+myurl+'", userAgent: "'+useragent+'") { weblog { memberNo serverDesc useragent urlDesc logDate } } }'

            //return false;

            const options = {
              method: "post",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({
                query: querystr
              })
            };

            var grp = window.location.origin+'/graphql'
            fetch(grp, options)
              .then(
                function(response) {
                  if (response.status !== 200) {
                    console.log('Error : ' + response.status);
                    return;
                  }
                  response.json().then(function(data) {
                    var i;
                    var obj = data.data.weblogCreate.weblog;
                    //document.getElementById("headerbox").innerHTML =  querystr;
                    //alert(obj.urlDesc);
                    //alert(obj);
                  });
                }
              )
              .catch(function(err) {
                console.log('Fetch error :-S', err);
              });
            }
    }

    </script>
    {% endblock %}



  <!-- =======================================================
  * Template Name: Groovin - v2.2.0
  * Template URL: https://bootstrapmade.com/groovin-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>


<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center" style="float:left;">

      <h1 class="logo mr-auto"><a href="/" onclick="writeLog('')">KOCOWA</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/" onclick="writeLog('')" style="cursor:pointer">Home</a></li>
                <li><a onclick="writeLog('{% url 'photo:album_detail' 1 %}')" style="cursor:pointer">TASTE24HR</a></li>
<!--                <li><a onclick="writeLog('album/1/')" style="cursor:pointer">TASTE24HR</a></li>-->
                <li class="drop-down"><a onclick="writeLog('{% url 'drama:index' %}')" >DRAMA</a>
                    <ul>
                        <li><a onclick="writeLog('{% url 'drama:genre_detail' 1 %}')" style="cursor:pointer">Romantic Comedy</a></li>
                        <li><a onclick="writeLog('{% url 'drama:genre_detail' 2 %}')" style="cursor:pointer">Melodrama</a></li>
                        <li><a onclick="writeLog('{% url 'drama:genre_detail' 3 %}')" style="cursor:pointer">Action and Thriller</a></li>
                        <li><a onclick="writeLog('{% url 'drama:genre_detail' 4 %}')" style="cursor:pointer">History</a></li>
                    </ul>
                </li>
                <li><a onclick="writeLog('{% url 'photo:album_detail' 3 %}')" style="cursor:pointer">VARIETY</a></li>
                <li><a onclick="writeLog('{% url 'photo:album_detail' 10 %}')" style="cursor:pointer">KPOP</a></li>
                <li><a onclick="writeLog('/mykocowa')" style="cursor:pointer">MY KOCOWA</a></li>
                <li><a onclick="writeLog('/plan')" style="cursor:pointer">PLAN</a></li>
                <li><a href="https://blog.kocowa.com/" target="_blank">BLOG</a></li>
                <li class="drop-down"><a href="">Drop Down</a>
                    <ul>
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        <li class="drop-down"><a href="#">Deep Drop Down</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>

    <div style="float:right;margin-right:10px;">
        <ul class="navbar-nav ml-5 mr-5">
            <li class="nav-item dropdown mx-1 btn btn-primary">
                {% if user.is_active %}
                <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
            	    <i class="fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;</a>
                <div class="dropdown-menu">
            	    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            	    <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                </div>
                {% else %}
                <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
            	    <i class="fas fa-user"></i>&ensp;Anonymous&ensp;</a>
                <div class="dropdown-menu">
            	    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
            	    <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                </div>
                {% endif %}
            </li>
        </ul>
    </div>

  </header><!-- End Header -->

<div style="margin-top:100px;"></div>
{% block content %}

{% endblock %}

<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">



          <div class="col-lg-2 col-md-6 footer-links">
            <h4>KOCOWA</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Term of Use</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy Policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">California Privacy Rights</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Do Not Sell My Personal Information</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Help Center</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>KCP</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://kcpglob.com/">Corporate Information</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://kcpglob.com/careers/">Careerss</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://kcpglob.com/contact-kcp/">Business Inquiries</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h4>SOCIAL MEDIA</h4>
              <div class="social-links mt-3">
                <a href="https://twitter.com/kocowa_official" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/kocowa/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/kocowa.official/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://twitter.com/kocowa_official" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Groovin</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/groovin-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


</body>
</html>
