{% load static %}
<!-- ======= Team Section ======= -->
    <section id="NewReleases" class="team">
      <div class="container">

        <div class="section-title" style="float:left;">
          <h2>New Releases</h2>
        </div>
        <div class="section-title" style="float:left;margin-left:10px;margin-top:10px;">
          <a href="/">
            <u>see More</u>
          </a>
        </div>

        <div id="newCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/New Releases/2 Days and 1 Night 4 Episode 58.png' %}"><p>2 Days and 1 Night 4 Episode 58</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/New Releases/Homemade Love Story Episode 36.png' %}"><p>Homemade Love Story Episode 36</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/New Releases/My Little Old Boy Episode 225.png' %}"><p>My Little Old Boy Episode 225</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/New Releases/Running Man Episode 538.png' %}"><p>Running Man Episode 538</p></div>
            </div>
            <div class="carousel-item row no-gutters">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/New Releases/SBS Inkigayo Episode 1078.png' %}"><p>SBS Inkigayo Episode 1078</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/New Releases/The King of Mask Singer Episode 290.png' %}"><p>The King of Mask Singer Episode 290</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/New Releases/The Manager Episode 136.png' %}"><p>The Manager Episode 136</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/New Releases/The Return of Superman Episode 365.png' %}"><p>The Return of Superman Episode 365</p></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#newCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#newCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </section><!-- End Team Section -->

<!-- ======= Team Section ======= -->
    <section id="TrendingNow" class="team">
      <div class="container">

        <div class="section-title" style="float:left;">
          <h2>Trending Now</h2>
        </div>
        <div class="section-title" style="float:left;margin-left:10px;margin-top:10px;">
          <a href="/">
            <u>see More</u>
          </a>
        </div>

        <div id="trendCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Trending Now/Cheat On Me, If You Can.png' %}"><p>Cheat On Me, If You Can</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Trending Now/Delayed Justice.png' %}"><p>Delayed Justice</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Trending Now/Homemade Love Story.png' %}"><p>Homemade Love Story</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Trending Now/Phoenix 2020.png' %}"><p>Phoenix 2020</p></div>
            </div>
            <div class="carousel-item row no-gutters">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Trending Now/Please Dont Date Him.png' %}"><p>Please Don't Date Him</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Trending Now/The Game.png' %}"><p>The Game</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Trending Now/The Penthouse.png' %}"><p>The Penthouse</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Trending Now/XX.png' %}"><p>XX</p></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#trendCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#trendCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </section><!-- End Team Section -->

<!-- ======= Team Section ======= -->
    <section id="RealityTV" class="team">
      <div class="container">

        <div class="section-title" style="float:left;">
          <h2>Reality TV</h2>
        </div>
        <div class="section-title" style="float:left;margin-left:10px;margin-top:10px;">
          <a href="/">
            <u>see More</u>
          </a>
        </div>

        <div id="realityCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Reality TV/Home Alone.png' %}"><p>Home Alone</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Reality TV/How do you play.png' %}"><p>How do you play</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Reality TV/I was a Car.png' %}"><p>I was a Car</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Reality TV/Running Man.png' %}"><p>Running Man</p></div>
            </div>
            <div class="carousel-item row no-gutters">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Reality TV/The Dog i encountered.png' %}"><p>The Dog i encountered</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Reality TV/The return of Superman.png' %}"><p>The return of Superman</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Reality TV/Witches.png' %}"><p>Witches</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Reality TV/YuHuiyeols Sketchbook.png' %}"><p>YuHuiyeol's Sketchbook</p></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#realityCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#realityCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </section><!-- End Team Section -->

<!-- ======= Team Section ======= -->
    <section id="TravelThroughTime" class="team">
      <div class="container">

        <div class="section-title" style="float:left;">
          <h2>Travel Through Time</h2>
        </div>
        <div class="section-title" style="float:left;margin-left:10px;margin-top:10px;">
          <a href="/">
            <u>see More</u>
          </a>
        </div>

        <div id="timeCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Travel Through Time/365.png' %}"><p>365</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Travel Through Time/Alice.png' %}"><p>Alice</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Travel Through Time/Dr jin.png' %}"><p>Dr jin</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Travel Through Time/Gods Gift.png' %}"><p>God's Gift</p></div>
            </div>
            <div class="carousel-item row no-gutters">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Travel Through Time/Kairos.png' %}"><p>Kairos</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Travel Through Time/loss time life.png' %}"><p>loss time life</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Travel Through Time/Marry him If you dare.png' %}"><p>Marry him If you dare</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Travel Through Time/Splash Splash Love.png' %}"><p>Splash Splash Love</p></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#timeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#timeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </section><!-- End Team Section -->

<!-- ======= Team Section ======= -->
    <section id="SpectacularK-TVAwardShows" class="team">
      <div class="container">

        <div class="section-title" style="float:left;">
          <h2>Spectacular K-TV Award Shows</h2>
        </div>
        <div class="section-title" style="float:left;margin-left:10px;margin-top:10px;">
          <a href="/">
            <u>see More</u>
          </a>
        </div>

        <div id="awardCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Spectacular K-TV Award Shows/30th SBS entertainment awards.png' %}"><p>30th SBS entertainment awards</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Spectacular K-TV Award Shows/2020 KBS drama awards.png' %}"><p>2020 KBS drama awards</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Spectacular K-TV Award Shows/2020 KBS Song Festival.png' %}"><p>2020 KBS Song Festival</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Spectacular K-TV Award Shows/2020 MBC drama awards.png' %}"><p>2020 MBC drama awards</p></div>
            </div>
            <div class="carousel-item row no-gutters">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Spectacular K-TV Award Shows/2020 MBC Music Festival.png' %}"><p>2020 MBC Music Festival</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Spectacular K-TV Award Shows/2020 SBS drama awards.png' %}"><p>2020 SBS drama awards</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Spectacular K-TV Award Shows/2020 SBS Gayo Daejeon in Daegu.png' %}"><p>2020 SBS Gayo Daejeon in Daegu</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Spectacular K-TV Award Shows/KBS 2020 entertainment awards.png' %}"><p>KBS 2020 entertainment awards</p></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#awardCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#awardCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </section><!-- End Team Section -->

<!-- ======= Team Section ======= -->
    <section id="K-Classics" class="team">
      <div class="container">

        <div class="section-title" style="float:left;">
          <h2>KOCOWA K-Classics</h2>
        </div>
        <div class="section-title" style="float:left;margin-left:10px;margin-top:10px;">
          <a href="/">
            <u>see More</u>
          </a>
        </div>

        <div id="k-classicsCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/KOCOWA K-Classics/All In.png' %}"><p>All In</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/KOCOWA K-Classics/Romance.png' %}"><p>Romance</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/KOCOWA K-Classics/SangDu,lets go to school.png' %}"><p>angDu,let's go to school</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/KOCOWA K-Classics/Scene number blue.png' %}"><p>Scene number blue</p></div>
            </div>
            <div class="carousel-item row no-gutters">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/KOCOWA K-Classics/Somthing happend in Bali.png' %}"><p>Somthing happend in Bali</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/KOCOWA K-Classics/The Royal Gambler.png' %}"><p>The Royal Gambler</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/KOCOWA K-Classics/Weekly bamboo.png' %}"><p>Weekly bamboo</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/KOCOWA K-Classics/Will It snow for christmas.png' %}"><p>Will It snow for christmas</p></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#k-classicsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#k-classicsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </section><!-- End Team Section -->

<!-- ======= Team Section ======= -->
    <section id="ComingSoon" class="team">
      <div class="container">

        <div class="section-title" style="float:left;">
          <h2>Coming Soon</h2>
        </div>
        <div class="section-title" style="float:left;margin-left:10px;margin-top:10px;">
          <a href="/">
            <u>see More</u>
          </a>
        </div>

        <div id="comingCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Coming Soon/2020 KBS Drama Awards Teaser 1.png' %}"><p>2020 KBS Drama Awards Teaser 1</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Coming Soon/2020 KBS Entertainment Awards Teaser 1.png' %}"><p>2020 KBS Entertainment Awards Teaser 1</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Coming Soon/2020 MBC Entertainment Awards Teaser 1.png' %}"><p>2020 MBC Entertainment Awards Teaser 1</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Coming Soon/2020 MBC Entertainment Awards Teaser 2.png' %}"><p>2020 MBC Entertainment Awards Teaser 2</p></div>
            </div>
            <div class="carousel-item row no-gutters">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Coming Soon/2020 MBC Music Festival Teaser 1.png' %}"><p>2020 MBC Music Festival Teaser 1</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Coming Soon/2020 SBS Drama Awards Teaser 1.png' %}"><p>2020 SBS Drama Awards Teaser 1</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Coming Soon/A Good Supper Teaser 1.png' %}"><p>A Good Supper Teaser 1</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/Coming Soon/A Good Supper Teaser 2.png' %}"><p>A Good Supper Teaser 2</p></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#comingCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#comingCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </section><!-- End Team Section -->

<!-- ======= Team Section ======= -->
    <section id="AllK-Pop" class="team">
      <div class="container">

        <div class="section-title" style="float:left;">
          <h2>All K-Pop</h2>
        </div>

        <div class="section-title" style="float:left;margin-left:10px;margin-top:10px;">
          <a href="/">
            <u>see More</u>
          </a>
        </div>

        <div id="kpopCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/All K-Pop/2020 Asia Song Festival.png' %}"><p>2020 Asia Song Festival</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/All K-Pop/2020 KBS Song Festival.png' %}"><p>2020 KBS Song Festival</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/All K-Pop/2020 MBC Music Festival.png' %}"><p>2020 MBC Music Festival</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/All K-Pop/2020 SBS Gayo Daejeon in Daegu.png' %}"><p>2020 SBS Gayo Daejeon in Daegu</p></div>
            </div>
            <div class="carousel-item row no-gutters">
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/All K-Pop/The Dog I Encountered.png' %}"><p>The Dog I Encountered</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/All K-Pop/THE SHOW Play with BTS.png' %}"><p>THE SHOW Play with BTS</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/All K-Pop/THE SHOW Play.png' %}"><p>THE SHOW Play</p></div>
              <div class="col-3 float-left"><img class="img-fluid" src="{% static 'photo/All K-Pop/Witches.png' %}"><p>Witches</p></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#kpopCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#kpopCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section><!-- End Team Section -->





<!-- ======= Team Section ======= -->
    <section id="new releases" class="team">
      <div class="container">

        <div class="section-title" style="float:left;">
          <h2>New Releases</h2>
        </div>
        <div class="section-title" style="float:left;margin-left:10px;margin-top:10px;">
          <a href="/">
            <u>see More</u>
          </a>
        </div>

        <div class="row" style="clear:both;">

          <div class="col-xl-3 col-lg-4 col-md-6" >
            <div class="member">
              <img src="{% static 'assets/img/All K-Pop/2020 Asia Song Festival.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <p>2020 Asia Song Festival</p>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'assets/img/All K-Pop/2020 KBS Song Festival.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <p>2020 KBS Song Festival</p>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'assets/img/All K-Pop/2020 MBC Music Festival.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <p>2020 MBC Music Festival</p>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'assets/img/All K-Pop/2020 SBS Gayo Daejeon in Daegu.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <p>2020 SBS Gayo Daejeon in Daegu</p>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
