{% extends "base.html" %}
{% load static %}

{% block content %}
  <script>
    var csrftokena = getCookie('csrftoken');

    function join_weekly(){
        var joinurl = window.location.origin+'/plan/join_weekly_membership/';
        var jxhr = new XMLHttpRequest();
        jxhr.onreadystatechange = function() {
          if (jxhr.readyState ==4 ){
            var data = jxhr.response;
            var obj = JSON.parse(data);
            alert(obj.result_msg);
          }
        };
        jxhr.open("GET",joinurl,false);
        jxhr.setRequestHeader("X-CSRFToken",csrftokena);
        jxhr.send(null);
    }
  </script>

  <style>
      .pricing .box p {
        padding: 0;
        list-style: none;
        color: #2a2a2a;
        text-align: center;
        line-height: 20px;
        font-size: 16px;
      }
  </style>

  <section id="album" class="team">
    <div class="container">
      <div class="section-title" style="float:left;">
        <h2>Plan</h2>
      </div>
    </div>
  </section>

  <section class="pricing">
    <div class="box">
      <p>이 페이지에서 멤버십 서비스에 가입해도 돈은 지불하지 않으며, 서비스 가입여부와 재가입을 파악하기 위한 페이지 입니다!</p>
    </div>
  </section>

  <section id="plan-info" class="plan-info">
    <div class="container" >
      <div class="row">
        <div class="box" align="center" style="margin:0 auto;">
          <img src="{% static 'plan6.png' %}">
          <p style="padding:3px;">ENJOY WITH BIGGER SCREENS</p>
        </div>

        <div class="box" align="center" style="margin:0 auto;">
          <img src="{% static 'plan7.png' %}">
          <p style="padding:3px;">ENJOY WITHOUT ADS</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <h2>MY MEMBERSHIP</h2>
        <p style="padding:10px;">{% firstof user.get_short_name user.get_username %}님이 구독 하실 수 있는 서비스 입니다. </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <h3>WEEKLY</h3>
            <h4><sup>$</sup>3.99<span> / week</span></h4>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li>✓ More contents</li>
              <li>✓ Unlimited Dramas and TV Shows for a Week</li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <div class="btn-wrap">
              <a class="btn-buy" onclick="join_weekly()" >Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box">
            <h3><del>DAILY</del></h3>
            <h4><sup>$</sup>0.99<span> / day</span></h4>
            <ul>
              <li></li>
              <li>✓ 지금은 이용할 수 없는 서비스 입니다. </li>
              <li>✓ Now This service is not operated </li>
              <li></li>
              <li>✓ Unlimited Dramas and TV Shows for 24 Hours</li>
              <li></li>
              <li></li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy"><del>Buy Now</del></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Pricing Section -->

  <main id = "main">
  </main>
{% endblock %}